*{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
/* LOGIN PAGE BODY */

.loginbody{
    font-family: 'Crimson Text', serif;
    text-align: center;
    background-size: cover;
    padding: 15% 0 0 40%;
}
input{
    text-align: left;
}
#usrnameLabel{
    color: #ffffff;
}
#pwdLabel{
    color: #ffffff;    
}

/* LOGIN PAGE ENDS */

/* HOME PAGE */

/* NAVBAR */

.navbar{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0.5rem 2rem 0.5rem 1rem;
    z-index: 3;
    text-shadow: black 0.5px 0.5px;
}
.logo{
    width: 4.6rem;
}

/* NAVBAR ENDS */

/* LISTS */

.listitem{
    border: 1px solid black;
    margin: 3.5%;
    padding: 0;
    background-color: rgb(243, 235, 235);
}

#label{
    margin: 0.5rem;  
    border: 0;
    /* border-top: 1px solid black; */
    text-align: left;
   
}

#cell{
    margin: 0;
   padding: 1.5%;
    border-top: 1px solid black;
    text-align: left;
}

/* LISTS ENDS */

/* HOMEPAGE ENDS */
